*{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#menu {
    padding: 20px;
    background-color: #d2f027b0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
}
#menu a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: #333;
}
#menu a:hove{
    background-color: black;
    color: #474444;
}
#card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
#card-1,#card-2,#card-3{
    border: solid 2px black;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#card-1 button, #card-2 button, #card-3 button {
    margin-top: auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#card-1 button:hover{
background-color: #333;
}