h1{
    text-align: center;
    font-family: 'Arial', sans-serif;
   
}
#servico{
    background-color: beige;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    gap: 10px;
}
#img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: solid 1px black;
}
#corte, #produtos, #barba, #hidratacao{
    font-family: 'Arial', sans-serif;
    width: 22%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

